AUDIT_LOG_FILE=
GATEWAY_PORT=
GRAFANA_URL=
HOST_IP=
LISTEN_PORTS=
MODERNWMS_BACKUP_DIR=
MODERNWMS_CONTAINER=
MODERNWMS_DB_PATH=
MODERNWMS_URL=
OVERVIEW_URL=
PARTDB_CONTAINER=
PARTDB_DB_PATH=
PARTDB_URL=
SYNC_ADMIN_PASS=
SYNC_ADMIN_USER=
TTYD_PORT=